      <header>
        <h1>Tiny Puppet</h1>
        <p>Essential Application management</p>
        <p class="view"><a href="http://github.com/example42/puppet-tp">View the Project on GitHub <small>example42/puppet-tp</small></a></p>
        <ul>
          <li><a href="https://github.com/example42/puppet-tp/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/example42/puppet-tp/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="http://github.com/example42/puppet-tp">Fork On <strong>GitHub</strong></a></li>
        </ul>
      </header>
