      <header>
        <h1>Tiny Puppet</h1>
        <p>Essential Application Management with Puppet</p>
        <p class="view"><a href="http://github.com/example42/puppet-tp">View the Project on GitHub <small>example42/puppet-tp</small></a></p>
        <ul>
          <li><a href="https://github.com/example42/puppet-tp/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://forge.puppetlabs.com/example42/tp">Use the <strong>Forge</strong></a></li>
          <li><a href="http://github.com/example42/puppet-tp">Fork On <strong>GitHub</strong></a></li>
        </ul>


        <h4><a href="/usage.html">Usage</a></h4>
        <h4><a href="/playground.html">Playground</a></h4>
        <h4><a href="/compatibility.html">Compatibility</a></h4>


      </header>
